body {
  background-color: rgba(255, 254, 254, 0.97);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/image.webp") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.65; 
  z-index: -1; 
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-container-box {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.login-header {
  color: rgba(0, 0, 0, 0.749);
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

.input-box {
  width: 90%;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}

.input-box::placeholder{
    color: gray;
}

.button {
  width: 30%;
  padding: 10px;
  margin-top: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.signup-text{
  margin-top: 30px;
  padding: 10px;
  color: black;
}

.signup-link{
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover{
  text-decoration: underline;
  text-decoration-color: navy;
  color: navy;
}